
    #contador {
      font-size: 1.5em;
         color: rgb(0, 0, 0);
  font-family: "Bungee", sans-serif;
  font-style: normal;
    }
body {
  margin: 0;
  overflow: hidden;
background-image: image-set( url("Img/background.webp") 
type("image/webp") ); 
background-repeat: no-repeat; 
background-size: cover; /* para preencher toda a tela */
 background-position: center;
  color: #ffffff;
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
       overscroll-behavior: none;
  touch-action: none;
}
h1{
      color: rgb(0, 0, 0);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2vw;
}

.sphere-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  --radius: 520px;
  --viewer-pad: 72px;
  --circ: calc(var(--radius) * 3.14);
  --rot-y: calc((360deg / var(--segments)) / 2);
  --rot-x: calc((360deg / var(--segments)) / 2);
  --item-width: calc(var(--circ) / var(--segments));
  --item-height: calc(var(--circ) / var(--segments));

}

.sphere-root * {
  box-sizing: border-box;
}

.sphere,
.item,
.item__image {
  transform-style: preserve-3d;
}

.sphere-main {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  touch-action: none;
  user-select: none;
}

.stage {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  perspective: calc(var(--radius) * 2);
}

.sphere {
  transform: translateZ(calc(var(--radius) * -1));
  will-change: transform;
}

.item {
  width: calc(var(--item-width) * 2);
  height: calc(var(--item-height) * 2);
  position: absolute;
  top: -999px;
  bottom: -999px;
  left: -999px;
  right: -999px;
  margin: auto;
  backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform:
    rotateY(calc(var(--rot-y) * var(--offset-x)))
    rotateX(calc(var(--rot-x) * var(--offset-y)))
    translateZ(var(--radius));
}

.item__image {
  position: absolute;
  inset: 10px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.viewer {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.viewer img {
  max-width: 60%;
  max-height: 80%;
  border-radius: 30px;
}
.Principal{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    width:80% ;
      padding: 40px;
  position: relative;

  -webkit-mask-image:
    radial-gradient(circle at 10% 0%, transparent 12px, black 13px),
    radial-gradient(circle at 30% 0%, transparent 10px, black 11px),
    radial-gradient(circle at 50% 0%, transparent 14px, black 15px),
    radial-gradient(circle at 70% 0%, transparent 11px, black 12px),
    radial-gradient(circle at 90% 0%, transparent 13px, black 14px);
  
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
@media (max-aspect-ratio: 9/16) {
  .sphere-root {
    --viewer-pad: 24px;
  }
}
@media (max-width: 768px) {
  .item {
    width: calc(var(--item-width) * 1.6);
    height: calc(var(--item-height) * 1.6);
  }

  .item__image {
    inset: 6px;
    border-radius: 16px;
  }

  .viewer img {
    max-width: 95%;
    max-height: 95%;
  }
  .Principal{
    width: 90%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  h1{
      color: rgb(0, 0, 0);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 10vw;
}
}
